{% extends "base.html" %}


{% block title %}
<title>SafeRide Dispatch</title>
{% endblock %}

{% block newStyle %}
<style rel='stylesheet' type='text/css'>
    table {
        width: 100%;
        border-collapse: separate;
        min-width: 700px;
    }
    tbody tr:hover {background-color: #f5f5f5}
    thead { 
        text-align: left;
        font-weight: bold;
    }
    tbody td {
        font-size: 100%;
        border-bottom: 1px solid #ddd;
    }
    caption {
        font-size: 90%;
        text-align: right;
    }
    th, caption {
        padding: 5px;
    }
    td {
        padding: 2px 15px 2px 15px;
    }
    span {
        display: table-cell;
        vertical-align: middle;
    }
</style>
{% endblock %}

{% block content %}
<h3 text-align="center">Requested Rides</h3>
<table><tbody>
    <thead>
        <td>UO ID</td>
        <td>Name</td><td></td>
        <td>Phone</td>
        <td>People</td>
        <td colspan="2">Pickup Info</td>
        <td>Dropoff</td>
        <td>Special Request</td><td></td>
        <td>Delete?</td>
    </thead>

    {% for ride in rides %}
    <tr>
        <td>{{ride.uoid}}</td>
        <td colspan="2">{{ride.name}}</td>
        <td>{{ride.phone}}</td>
        <td>{{ride.group_size}}</td>
        <td id="time">{{ride.pickup_time.strftime('%H:%M')}}</td>
        <td>{{ride.pickup_addr}}</td>
        <td>{{ride.dropoff_addr}}</td>
        <td colspan="2">{{ride.special}}</td>
        <td><form id="delete_form_{{ride.uoid}}" action="/admin" method="POST"><input
            id="deleteButton"
            type="image"
            src="http://icons.iconarchive.com/icons/hopstarter/rounded-square/256/Button-Delete-icon.png"
            height="20px"
	        form="delete_form_{{ride.uoid}}" />
	       <input type="hidden" name="id" form="delete_form_{{ride.uoid}}" value="{{ride.id|string}}"/></form>
        </td>
    </tr>
    {% endfor %}
</tbody></table>

{% if rides %}
<div>
    <form id="delete_all" action="/admin" method="POST">
        <input
            id="delBut"
            type="submit"
            value="End of Day"
            height="20px"
            form="delete_all" />
        <input type="hidden" name="delBut" form="delete_all" value=" "/>
    </form>
</div>
{% endif %}
{% endblock %}
