<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
            <title>SafeRide UO</title>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
            <style>.content {padding-top: 80px;}</style>
    </head>

    <body class="content">
        temporary rides page
      <table><tbody>
        <tr style="padding-top:5px;padding-bottom:5px">
          <td style="padding-left:5px;padding-right:5px;">UO ID</td>
          <td style="padding-left:5px;padding-right:5px;">Name</td>
          <td style="padding-left:5px;padding-right:5px">Group Size</td>
          <td style="padding-left:5px;padding-right:5px">Pickup Location</td>
          <td style="padding-left:5px;padding-right:5px">Pickup Time</td>
          <td style="padding-left:5px;padding-right:5px">Dropoff Location</td>
          <td style="padding-left:5px;padding-right:5px">Special Request</td>
        </tr>
        {% for ride in rides %}
          <tr style="padding-top:5px;padding-bottom:5px">
            <td style="padding-left:5px;padding-right:5px">{{ride.uoid}}</td>
            <td style="padding-left:5px;padding-right:5px">{{ride.name}}</td>
            <td style="padding-left:5px;padding-right:5px">{{ride.group_size}}</td>
            <td style="padding-left:5px;padding-right:5px">{{ride.pickup_addr}}</td>
            <td style="padding-left:5px;padding-right:5px">{{ride.pickup_time}}</td>
            <td style="padding-left:5px;padding-right:5px">{{ride.dropoff_addr}}</td>
            <td style="padding-left:5px;padding-right:5px">{{ride.special}}</td>
          </tr>
        {% endfor %}
      </tbody></table>
    </body>
</html>
