{% extends "base.html" %}

{% block title %}
    <script type="text/javascript" src="/static/chat.js"></script>
    <title>Matches ({{ current_user.matchCount }})</title>
{% endblock %}

{% block newStyle %}
<style>
    /* Entire chat page */
    #boxInside {
        text-align: center;
        font-family: Arial;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    .messagesContainer {
        border: 2px solid #F25A5A;
        top: 0px;
        bottom: 0px;
        height: 73vh;
    }
    .profileHeader {
        text-align: center;
        color: #F25A5A;
        font-size: 200%;
        font-family: Arial;
        text-decoration: none;
        padding: 17px 15px 8px 15px;
    }
    /* Chat sidebar with names of matches */
    .chatSidebar {
        width: 29.8%;
        height: 100%;
        position: relative;
        margin: 0;
        overflow-y: auto;
        border-right: 2px solid #F25A5A;
        overflow: hidden;
        color: #FFFFFF;
        float: left;
    }
    .messageInput {
        height: 20px;
        margin: 5px;
    }
    .matchChat {
        border-bottom: 2px solid #FFFFFF;
        background-color: #F28080;
        height: 75px;
        width: 100%;
        font-family: Arial;
        list-style-type: none;
    }
    .matchChat.selected {
        background-color: #F25A5A;
    }
    li.matchChat:hover {
        background-color: #F25A5A;
    }
    .matchChatInside {
        padding:9px;
        height: 60px;
        width: 92%;
        display: block;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    /* Messages from one match */
    .chatHeader {
        padding: 6px 0px;
        text-align: center;
        background-color: #F25A5A;
        color: #FFFFFF;
        font-family: Arial;
    }
    .currentChatContainer {
        overflow: auto;
        position: absolute;
        border-bottom: 1px solid #F25A5A;
        right: 2px;
        left: 30%;
        bottom: 40px;
        top: 128px;
    }
    .currentChat {
        padding: 10px;
        overflow: auto;
    }
    .dateCreated {
        font-size: 60%;
        font-style: #DEDEDE;
        display: block;
    }
    .dateCreated.self {
        text-align: right;
        padding: 0 3px 0 0;
    }
    .dateCreated.other {
        text-align: left;
        padding: 0 0 0 3px;
    }
    .chatBubble {
        padding: 1px 0 4px 0;
        width: auto;
        list-style-type: none;
        display: block;
    }
    .chatBubble.self {
        text-align: right;
    }
    .chatBubble.other {
        text-align: left;
    }
    .chatInside {
        padding: 6px 10px;
        display: inline-block;
        width: auto;
        max-width: 70%;
        text-align: left;
    }
    .chatInside.self {
        background-color: #FFE0E0;
        border-radius: 10px 2px 2px 10px;
    }
    .chatInside.other {
        background-color: #E0E0E0;
        border-radius: 2px 10px 10px 2px;
    }
    .messageInput.send {
        position: absolute;
        overflow: hidden;
        bottom: 5px;
        width: 66%;
        text-align: center;
    }
    .sellItemName {
        color: #7FD2F9;
    }
    .buyItemName {
        color: #9AF2A5;
    }

    .tabSlider {
        list-style-type: none;
        overflow: hidden;
        border-radius: 10px;
        display: inline-block;
        border: 1px solid #F25A5A;
        margin-bottom: 7px;
    }
    .liTabItems {
        float: left;
    }
    .aTabLinks {
        display: block;
        color: #F25A5A;
        text-align: center;
        padding: 3px 6px;
        text-decoration: none;
        font-family: Arial;
        font-size: 80%;
    }
    .selectedTabItem {
        font-weight: bold;
        color: #FFF;
        background-color: #F25A5A;
    }
</style>
{% endblock %}

{% block content %}
<div class="box">
	<div class="profileHeader">{{ current_user.nickname }}'s Matches</div>
	
    <div style="text-align: center;">
        <ul class="tabSlider">
            {% if category == "all" %}
                <li class="liTabItems"><a class="aTabLinks selectedTabItem">All</a></li>
                <li class="liTabItems"><a href="/matches/buying" class="aTabLinks">Buying</a></li>
                <li class="liTabItems"><a href="/matches/selling" class="aTabLinks">Selling</a></li>
            {% elif category == "buying" %}
                <li class="liTabItems"><a href="/matches" class="aTabLinks">All</a></li>
                <li class="liTabItems"><a class="aTabLinks selectedTabItem">Buying</a></li>
                <li class="liTabItems"><a href="/matches/selling" class="aTabLinks">Selling</a></li>
            {% else %}
                <li class="liTabItems"><a href="/matches" class="aTabLinks">All</a></li>
                <li class="liTabItems"><a href="/matches/buying" class="aTabLinks">Buying</a></li>
                <li class="liTabItems"><a class="aTabLinks selectedTabItem">Selling</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="messagesContainer">
		<div class="chatSidebar">
            <div class="messageInput">
                <span><input placeholder="Search" type="text"/></span>
            </div>
            <ul id="ul" style="padding=0px; border=0px; bottom: 0px;">
            {% if category == "all" %}
                {% for match in current_user.matches %}
                    <form method="post" name="changeChat{{ loop.index -1 }}" id="changeChat">
                    {% if loop.index-1 == displayConvo %}
                        <li class="matchChat selected">
                    {% else %}
                        <li onclick="changeChat{{ loop.index -1 }}.submit();" class="matchChat">
                    {% endif %}
                            <div class="matchChatInside">
                                <b style="padding: 0 0 5px 0;">
                                    {% if current_user != match.buyer %}
                                        <a href="/profile/{{ match.buyer.id }}">{{ match.buyer.nickname }}</a>
                                    {%- else -%}
                                        <a href="/profile/{{ match.seller.id }}">{{ match.seller.nickname }}</a>
                                    {%- endif -%}:&nbsp
                                    {%- for item in match.items -%}
                                        {%- if loop.index > 1 -%},&nbsp{%- endif -%}
                                        {%- if current_user == match.buyer -%}
                                            <a class="buyItemName" href="/items/{{ item.id }}">
                                                {{- item.name -}}
                                            </a>
                                        {%- else -%}
                                            <a class="sellItemName" href="/items/{{ item.id }}">
                                                {{- item.name -}}
                                            </a>
                                        {% endif %}
                                    {%- endfor -%}
                                </b><br/>
                                <span style="font-size: 85%;">{{ match.lastMessage }}</span>
                            </div>
                        </li>
                        <input type="hidden" name="index" value="{{ loop.index -1}}">
                    </form>
                {% endfor %}
            {% elif category == "buying" %}
                {% for match in current_user.matches %}
                    {% if current_user == match.buyer %}
                        <form method="post" name="changeChat{{ loop.index -1 }}" id="changeChat">
                        {% if loop.index-1 == displayConvo %}
                            <li class="matchChat selected">
                        {% else %}
                            <li onclick="changeChat{{ loop.index -1 }}.submit();" class="matchChat">
                        {% endif %}
                                <div class="matchChatInside">
                                    <b style="padding: 0 0 5px 0;">
                                        <a href="/profile/{{ match.seller.id }}">{{ match.seller.nickname }}</a>: 
                                        {%- for item in match.items -%}
                                            {% if loop.index > 1 %},{% endif %}
                                            <a class="buyItemName" href="/items/{{ item.id }}">{{- item.name -}}</a>
                                        {%- endfor -%}
                                    </b><br/>
                                    <span style="font-size: 85%;">{{ match.lastMessage }}</span>
                                </div>
                            </li>
                            <input type="hidden" name="index" value="{{ loop.index -1}}">
                        </form>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for match in current_user.matches %}
                    {% if current_user == match.seller %}
                        <form method="post" name="changeChat{{ loop.index -1 }}" id="changeChat">
                        {% if loop.index-1 == displayConvo %}
                            <li class="matchChat selected">
                        {% else %}
                            <li onclick="changeChat{{ loop.index -1 }}.submit();" class="matchChat">
                        {% endif %}
                                <div class="matchChatInside">
                                    <b style="padding: 0 0 5px 0;">
                                        <a href="/profile/{{ match.buyer.id }}">{{ match.buyer.nickname }}</a>: 
                                        {%- for item in match.items -%}
                                            {% if loop.index > 1 %},{% endif %}
                                            <a class="sellItemName" href="/items/{{ item.id }}">
                                                {{- item.name -}}
                                            </a>
                                        {%- endfor -%}
                                    </b><br/>
                                    <span style="font-size: 85%;">{{ match.lastMessage }}</span>
                                </div>
                            </li>
                            <input type="hidden" name="index" value="{{ loop.index -1}}">
                        </form>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </ul>
        </div>
        <div id="entireChatContainer" style="overflow: hidden; width: auto;">
            <div class="chatHeader">
                <b>
                {% set match = current_user.matches[displayConvo] %}
                {% if current_user != match.buyer %}
                    <a href="/profile/{{ match.buyer.id }}">{{ match.buyer.nickname }}</a>
                {%- else -%}
                    <a href="/profile/{{ match.seller.id }}">{{ match.seller.nickname }}</a>
                {%- endif -%}:&nbsp
                {%- for item in match.items -%}
                    {%- if loop.index > 1 -%},&nbsp{%- endif -%}
                    {%- if current_user == match.buyer -%}
                        <a class="buyItemName" href="/items/{{ item.id }}">
                            {{- item.name -}}
                        </a>
                    {%- else -%}
                        <a class="sellItemName" href="/items/{{ item.id }}">
                            {{- item.name -}}
                        </a>
                    {%- endif -%}
                {% endfor %}
                </b>
            </div>
            <div id="currentChatContainer" class="currentChatContainer">
                <ul id="currentChat" class="currentChat">
                    {% for message in match.messages %}
                        {% if message.sender == current_user.id %}
                            <li class="dateCreated self">{{ message.dateCreated.strftime('%b %d, %Y') }} at {{ message.dateCreated.strftime('%-I:%M %p') }}</li>
                            <li class="chatBubble self">
                                <span class="chatInside self">{{message.text}}</span></li>
                        {% else %}
                            <li class="dateCreated other">{{ message.dateCreated.strftime('%b %d, %Y') }} at {{ message.dateCreated.strftime('%-I:%M %p') }}</li>
                            <li class="chatBubble other">
                                <span class="chatInside other">{{message.text}}</span></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="messageInput send">
                <form name="sendMessageForm" id="changeChat" onsubmit="return sendMessage();">
                    <input class="sendMessage" name="messageSend" id="messageSend" placeholder="Send message with Enter" style="width: 90%;" autocomplete="off" type="text"/>
                    <input name="indexSend" id="indexSend" type="hidden" value="{{ displayConvo }}"/>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            var objDiv = document.getElementById("currentChatContainer");
            var messageTextBox = document.getElementById("messageSend")
            objDiv.scrollTop = objDiv.scrollHeight;
            messageTextBox.select();
        </script>
	</div>
</div>
{% endblock %}