{% extends "base.html" %}

{% block title %}
<title>Matches</title>
{% endblock %}

{% block newStyle %}
<style>
    #boxInside {
        text-align: center;
        font-family: Arial;
        width: 100%;
        height: 100%;
    }
    .messagesContainer {
        border: 1px solid #f25a5a;
        position: relative;
        height: 80%;
        overflow: hidden;
    }
    .profileHeader {
        text-align: center;
        color: #f25a5a;
        font-size: 200%;
        font-family: Arial;
        text-decoration: none;
        float: center;
        padding: 17px 15px 8px 15px;
    }

    .chatSidebar {
        position: relative;
        min-width: 100px;
        width: 29.5%;
        height: 100%;
        max-height: 500px;
        display: inline-block;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        border-right: 1px solid #F25A5A;
    }
    .matchChat {
        border: 1px solid #FFFFFF;
        background-color: #FFE0E0;
        height: 75px;
        width: 100%;
        display: inline-block;
        font-family: Arial;
        display: block;
    }
    .matchChatInside {
        padding:7px;
        height: 60px;
        width: 92%;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .currentChatContainer {
        float: right;
        position: relative;
        height: 100%;
        width: 70%;
    }
    .currentChat {
        padding: 10px;
        overflow: auto;
    }
    .chatBubble {
        padding: 7px;
        width: auto;
        list-style-type: none;
        word-break: break-all;
        display: block;
    }
    .chatBubble.self {
        text-align: right;
    }
    .chatBubble.other {
        text-align: left;
    }
    .spanSelf {
        padding: 6px 8px 6px 8px;
        background-color: #FFE0E0;
        border-radius: 10px 2px 2px 10px;
    }
    .spanOther {
        padding: 6px 8px 6px 8px;
        background-color: #E0E0E0;
        border-radius: 2px 10px 10px 2px;
    }
</style>
{% endblock %}

{% block content %}
<div class="box">
	<div><p class="profileHeader">{{ current_user.nickname }}'s Matches</p></div>
	<div class="messagesContainer">
		<ul class="chatSidebar">
            {% if current_user.conversations %}
                {% for conversation in current_user.conversations %}
                    <li class="matchChat">
                        <div class="matchChatInside">
                            <p style="padding: 0 0 5px 0;"><b>
                                {% for member in conversation.party %}
                                    {% if current_user.id != member.id %}
                                        {{ member.nickname }} 
                                    {% endif %}
                                {% endfor %}
                            </b></p>
                            <p style="font-size: 85%;">{{ conversation.lastMessage }}</p>
                        </div>
                    </li>
                {% endfor %}

            {% endif %}
        </ul>
        <div class="currentChatContainer">
            <ul id="currentChat" class="currentChat">
                {% for message in current_user.conversations[0].messages %}
                    {% if message.sender == current_user.id %}
                        <li class="chatBubble self">
                            <span class="spanSelf">{{message.text}}</span></li>
                    {% else %}
                        <li class="chatBubble other">
                            <span class="spanOther">{{message.text}}</span></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
	</div>
</div>
{% endblock %}