{% extends "base.html" %}

{% block title %}
    <title>Matches</title>
{% endblock %}

{% block newStyle %}
<style>
    /* Entire chat page */
    #boxInside {
        text-align: center;
        font-family: Arial;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    .messagesContainer {
        border: 2px solid #F25A5A;
        top:0px;
        bottom:0px;
        height: 80vh;
    }
    .profileHeader {
        text-align: center;
        color: #F25A5A;
        font-size: 200%;
        font-family: Arial;
        text-decoration: none;
        padding: 17px 15px 8px 15px;
    }
    /* Chat sidebar with names of matches */
    .chatSidebar {
        width: 29.8%;
        height: 100%;
        position: relative;
        margin: 0;
        overflow-y: auto;
        border-right: 2px solid #F25A5A;
        overflow: hidden;
        color: #FFFFFF;
        float: left;
    }
    .messageInput {
        height: 20px;
        margin: 5px;
    }
    .matchChat {
        border-bottom: 2px solid #FFFFFF;
        background-color: #F28080;
        height: 75px;
        width: 100%;
        font-family: Arial;
    }
    .matchChat.selected {
        background-color: #F25A5A;
    }
    li.matchChat:hover {
        background-color: #F25A5A;
    }
    .matchChatInside {
        padding:9px;
        height: 60px;
        width: 92%;
        display: block;
        text-overflow: ellipsis;
    }

    /* Messages from one match */
    .chatHeader {
        padding: 6px 0px;
        text-align: center;
        background-color: #F25A5A;
        color: #FFFFFF;
    }
    .currentChatContainer {
        overflow: auto;
        position: absolute;
        border-bottom: 1px solid #F25A5A;
        right: 2px;
        left: 30%;
        bottom: 40px;
        top: 94px;
    }
    .currentChat {
        padding: 10px;
        overflow: auto;
    }
    .dateCreated {
        font-size: 60%;
        font-style: #DEDEDE;
        display: block;
    }
    .dateCreated.self {
        text-align: right;
        padding: 0 3px 0 0;
    }
    .dateCreated.other {
        text-align: left;
        padding: 0 0 0 3px;
    }
    .chatBubble {
        padding: 1px 0 4px 0;
        width: auto;
        list-style-type: none;
        display: block;
    }
    .chatBubble.self {
        text-align: right;
    }
    .chatBubble.other {
        text-align: left;
    }
    .chatSelf {
        padding: 6px 8px;
        display: inline-block;
        width: auto;
        background-color: #FFE0E0;
        border-radius: 10px 2px 2px 10px;
    }
    .chatOther {
        padding: 6px 8px;
        display: inline-block;
        width: auto;
        background-color: #E0E0E0;
        border-radius: 2px 10px 10px 2px;
    }
    .messageInput.send {
        position: absolute;
        overflow: hidden;
        bottom: 5px;
        width: 66%;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<div class="box">
	<div class="profileHeader">{{ current_user.nickname }}'s Matches</div>
	<div class="messagesContainer">
		<div class="chatSidebar">
            <div class="messageInput">
                <span><input placeholder="Search" type="text"/></span>
            </div>
            <ul id="ul" style="padding=0px; border=0px; bottom: 0px;">
            	<li class="matchChat selected">
	        		<div class="matchChatInside">
                        <b style="padding: 0 0 5px 0;">
                        	Matchless?
                        </b><br/>
                        <span style="font-size: 85%;">Start swiping!</span>
                    </div>
                </li>
            </ul>
        </div>
        <div id="entireChatContainer" style="overflow: hidden; width: auto;">
            <div class="chatHeader"><b style="font-family: Arial;">
            	Matchless?
            </b></div>
            <div id="currentChatContainer" class="currentChatContainer">
                <ul id="currentChat" class="currentChat">
                	<li class="chatBubble other">
                        <span class="chatOther">Tired of not having matches?</span></li>
                	<li class="chatBubble other">
                        <span class="chatOther"><a style="color: #F25A5A;" href="/">Start swiping!</a></span></li>
                </ul>
            </div>
            <div class="messageInput send">
                <input class="sendMessage" name="messageSend" id="messageSend" placeholder="Send messages once you have a match!" style="width: 90%;" autocomplete="off" type="text"/>
            </div>
        </div>
	</div>
</div>
{% endblock %}