{% extends "base.html" %}

{% block title %}
<script type="text/javascript" src="static/profileButtons.js"></script>
<title>{{ current_user.nickname }}</title>
{% endblock %}

{% block newStyle %}
<style>
    #boxInside {
        text-align: center;
        font-family: Arial;
        width: 100%;
        padding: 0px 6px;
        table-layout: fixed;
    }
    /* Entire tile */
    .tile {
    	width: 100%;
    	vertical-align: top;
    	padding: 5px 10px 5px 10px;
    }
    /* Text for each bar category */
    .categoryText {
    	color: #FFFFFF;
        font-size: 120%;
        font-family: Arial;
        text-decoration: none;
        float: left;
        padding: 9px 15px;
    }
    /* Red bar of tiles */
    .tileBar {
    	list-style-type: none;
        margin: 0px;
        padding: 0px;
    	height: 40px;
    	background-color: #f25a5a;
    }
    /* Add button styling */
    .add {
		color: #FFFFFF;
        font-size: 220%;
        font-family: Arial;
        text-decoration: none;
        float: right;
        padding: 0px 15px;
    }
    li {
    	display: inline;
        float: : left;
    }
    /* Light red list styling */
    .blockDropdown {
    	background-color:#FFF3F3;
    	height: 100%; 
    	text-align:left;
    	font-size: 130%;
    	position: relative;
    	max-height: 300px;
    }
    /* Actual lists in blockDropdowns */
    .lists {
    	height: 150px;
    	padding: 10px 0px 20px 20px;
    	list-style-type: none;
    	width:inherit;
    	overflow: auto;
    }
    /* Editable profile text */
    .editable {
        background: #FFFFFF;
        border: 1px #FFF3F3;
        border-color: #f25a5a;
        box-shadow: 0 0 10px #f25a5a;
    }
    .profileHeader {
        text-align: center;
        color: #f25a5a;
        font-size: 200%;
        font-family: Arial;
        text-decoration: none;
        float: center;
        padding: 17px 15px 8px 15px;
    }
    .niceLinks {
        color: #000000;
        text-decoration: none;
    }
    .noHoverChange {
        cursor: default;
    }
    .noHoverChange a:hover {
        background-color: inherit;
    }
</style>
{% endblock %}

{% block content %}
<div class="box">
	<p class="profileHeader">{{ current_user.nickname }}'s Profile</p>
	<table id="boxInside">
		<tr>
			<td class="tile">
                <form name="editProfile" action="profile" onsubmit="return validateForm()" method="post">
    				<ul class="tileBar">
    		            <li class="navBarHover noHoverChange"><a class="categoryText">About Me</a></li>
    		            <li class="navBarHover"><a href="javascript: validateForm()" class="add" name="editProf" value="editProf" id="editProf">+</a></li>
    		        </ul>
    		        <div class="blockDropdown">
    			        <ul class="lists">
    			        	<li>Nickname:</li><br>
    			        	<li>&nbsp<span id="nickname" class="editInfo">{{ current_user.nickname }}</span></li><br>
    			        	<li>Email:</li><br>
    			        	<li>&nbsp<span id="email" class="editInfo">{{ current_user.email }}</span></li><br>
    			        	<li>Interests:</li><br>
    			        	<li>&nbsp<span id="interests" class="editInfo">{{ current_user.interests }}</span></li><br>
    				    </ul>
    		        </div>
                </form>
			</td>
			<td class="tile">
				<ul class="tileBar">
		            <li class="navBarHover"><a class="categoryText" href="items">My Items ({{current_user.itemCount}})</a></li>
		            <li class="navBarHover"><a class="add" id="editProf">+</a></li>
		        </ul>
		        <div class="blockDropdown">
			        <ul class="lists">
                        {% for item in current_user.items %}
                            <li><a class="niceLinks" href="items/{{item.name}}"> {{item.name}} </a></li><br>
                        {% endfor %}
				    </ul>
		        </div>
			</td>
		</tr>
		<tr>
			<td class="tile">
				<ul class="tileBar">
		            <li class="navBarHover"><a class="categoryText">Friends ({{ current_user.friendCount}})</a></li>
		            <li class="navBarHover"><a class="add">+</a></li>
		        </ul>
		        <div class="blockDropdown">
			        <ul class="lists">
			        	{% for friend in current_user.friends %}
                            <li> {{friend.nickname}} </li><br>
                        {% endfor %}
				    </ul>
			    </div>
			</td>
			<td class="tile">
				<ul class="tileBar">
		            <li class="navBarHover"><a class="categoryText">Matches ({{current_user.matchCount}})</a></li>
		            <li class="navBarHover"><a class="add">+</a></li>
		        </ul>
		        <div class="blockDropdown">
			        <ul class="lists">
			        	{% for conversation in current_user.conversations %}
                            <li> 
                                {% for member in conversation.party %}
                                    {% if current_user.id != member.id %}
                                        {{ member.nickname }} 
                                    {% endif %}
                                {% endfor %}
                            </li><br>
                        {% endfor %}
				    </ul>
			    </div>
			</td>
		</tr>
	</table>
</div>
{% endblock %}